*{
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
}
/*Header*/
header{
    width: 100%;
    height: 70px;
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1{
    margin-top: 5px;
}
/*Main*/
main{
    width: 100%;
    overflow-y: auto;
    background-color: rgb(228, 228, 207);
    display: flex;
    flex-wrap: wrap;
}
/*Texto inicial del main*/
main nav{
    width: 100%;
    text-align: center;
}
main nav h1{
    font-size: 3em;
}
main nav h2{
    font-size: 1.25em;
}

/*Imagen con texto*/
main div{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
main div img{
    width: 90%;
}
main div p{
    font-size: 1.1em;
    font-family:'Times New Roman', Times, serif;
    text-align: justify;
  
}
/*Formulario*/
section{
    width: 45%;
    margin: 0 auto;
    overflow-y: auto;
    text-align: center;
    background-color: rgb(242, 242, 242);
    margin-bottom: 20px;
}

form h3{
    text-align: center;
}
main form article{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

main form article label{
    width: 60%;
    margin-left: 10px;
    height: 30px;
    padding-top: 8px;
}
main form article input{
    width: 60%;
    height: 30px;
    margin: 0 auto;
}
#AI{
    width: 60%;
    margin-left: 10px;
    height: 30px;
    padding-top: 8px;
}
main form article select{
    width: 60%;
    margin: 0 auto;
    height: 30px;
}
form button{
    background-color: rgb(201, 45, 178);
    color: white;
    width: 60%;
    margin-top: 10px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}
main form fieldset{
    width: 60%;
    height: 80px;
    margin: 0 auto;
}


/*Footer*/
footer{
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
footer figure{
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
figure p{
    width: 51%;
    margin: 0 auto;
    margin-top: 10px;
}
footer img{
    width: 50%;
    
}

/*Modificación de pantalla*/


/*Para tablets*/
@media screen and (min-width: 576px) {
    /*Footer*/
    footer figure{
        flex-wrap: nowrap;
    }
    figure img{
        width: 40%;
    }
    /*Formulario*/
    section{
        width: 80%;
    }
}
/*Para PCs*/
@media screen and (min-width: 992px){
    /*Parte central-izquierda*/
    main div{
        width: 55%;

    }
    main div img{
        width: 90%;
    }
    /*Parte central-derecha*/
    main section{
        width: 40%;
        margin-right: 0;
    }
    /*Footer*/
    footer figure{
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    footer figure img{
        width: 51%;
    }
    footer figure p{
        width: 50%;
    }
}