*{
    box-sizing: border-box;
}
h1,h4,p{
    margin: 0px;
}
.container{
    font-family: "Lobster", cursive;
    color: grey;
    width: 95%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

header{
    align-self: center;
    border-bottom: grey;
    flex-direction: column;
    margin-bottom: 30px;
}

img{
    width: 300px;
}

.content_wrapper{
    width: 100%;
    display: flex;
    height: 300px;
}

nav{
    flex-direction: column;
    width: 15%;
    margin: 10px;
    margin-right: 40px;
}

nav div{
    padding: 10px;
}

main{
    width: 45%;
    flex-direction: column;
    height: 50%;
    margin-right: 100px;
}
main p{
    font-size: 0.75em;
}
main img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;   
}

.content_wrapper article{
    width: 30%;

}
.content_wrapper article img{
    width: 300px;
    border-radius: 10px;
    height: 150px;
}