*{
    box-sizing: border-box;
}
div.padre{
    margin: 60px auto;
    text-align: center;
    background-color: rgb(184, 231, 114);
    
}    

div.hijo1{
    width: 65%;
    height: 60%;
    display: inline-block;
    text-align: center;
   
}
div.hijo1 img{
    width: 30%;
    height: 20%;

}
img.imagen1{
    z-index: 1;    
}
img.imagen2{
    z-index: 2;
}
img.imagen3{
    z-index: 3;
}
img.imagen4{z-index: 4;}
aside{
    position: fixed;
    font-size: 10px;
    border: 1px solid black;
    display: inline-block;
    margin: 1px;
    text-align: left;
    
    
}
header.header{
    background-color: rgb(63, 57, 57);
    height: 50px;
    
    
}
header.header p{
    color: white;
    padding: 8%;
    display: inline;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    

}
img.lado{
    width: 50px;
    height: 50px;
}
body, aside.lado{
    background-color: rgb(185, 182, 182);
    
}
