*{
    box-sizing: border-box;
}

.container{
    width: 95%;

    margin: 10px auto;
}
p{
    font-size: 2em;
    text-align: center;
}
header{
    width: 95%;
    background-color: black;
    margin: 5px auto;
    
}
header div{
    display: inline-block;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

aside{
    width: 15%;
    height: 350px;
    background-color: black;
    float: left;
    margin-top: 30px;
    

}
aside div{
    color: white;
    padding: 10px;
}

.article{
    width: 70%;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 5%;
    float: left;
    

}
article{
    width: 30%;
    height: 175px;
    float: left;
    margin-top: 30px;
    border: 1px solid black;
    border-collapse: collapse;
    border-top-right-radius: 10px solid black;
    border-top-left-radius: 5px solid black;
    border-bottom-left-radius: 5px solid black; 
    border-bottom-right-radius: 5px solid black;
    
    
}
img{
    width: 100px;
    height: 100px;
    
}
article p{
    font-size: 10px;
    float: left;
}

footer{
    background-color: grey;
    float: left;
    height: 40px;
    width: 100%;
}
footer p{
    font-size: 15px;
}
nav{
    font-size: 10px;
    column-count: 1;
    float: left;
    height: 100px;
    width: 20%;
    margin-right: 10%;
    
}
.column{
    width: 70%;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 5%;
    float: left;
    

}