/*General*/

*{
    box-sizing: border-box;
}

.container{
    width: 95% auto;
}

h1, h2{
    color: rgb(49, 108, 185);
}

/*Parte central (main)*/
main{
    width: 60%;
    float:left;
    margin: 20px;
    margin-left: 30px;
}

/*Main se divide en una parte superior y otra inferior*/

/*Parte superior*/
.div-sup{
    width: 100%;
    height: 400px;
    float: left;
    margin-bottom: 20px;

}

.div-sup img{
    width: 50% auto;
    height: 300px;
    float: left;
}
.div-sup nav{
    float: left;
    width: 45%;
    margin-left: 40px;
    height: 350px;
}

/*Parte inferior*/

.div-inf{
    width: 100%;
    height: 400px;
    float: left;
    margin-top: 40px;
}

.div-inf nav{
    width: 45%;
    height: 300px;
    float: left;
    margin-right: 30px;
}
.div-inf nav img{
    height: 240px;
}

.div-inf section{
    width: 45%;
    float: left;
}

.div-inf section img{
    width: 80%;

}

/* Aside de la parte derecha*/

aside{
    width: 30%;
    float: left;
    height: 700px;
    margin-top: 45px;
}
aside img{
    width: 80%;
    height: 250px;
}

aside section{
    margin-top: 20px;
    width: 80%;
    height: 450px;
    border: 1px solid black;
    
}

aside section header{
    background-color: rgb(58, 57, 57);
    color: white;
    height: 60px;
    width: 100%;
    text-align: center;
}

h3{
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding-top: 15px;
}


