*{
    box-sizing: border-box;
}
.Container{
    width: 60%;
    margin: 40px;
    text-align: left;
}
header{
    color: rgb(12, 113, 228);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.Superior{
    padding: 10px;
}
.HSup{
    font-size: 25px;
}


figure.imagen1{
    width: 200px;
}