body{
    /*Arriba y abajo - Derecha e izquierda */
    margin: 40px 40px;
    vertical-align: middle;
    
}

header{
    width: 700px;
    height: 100px;
    font-size: 15px;
    
}
h1{
    color: rgb(18, 148, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}