body{
    /*Arriba y abajo - Derecha e izquierda */
    margin: 40px 40px;
    border: 1px solid black;
    border-collapse: collapse;
    
}

div{
    padding: 25px 50px 75px 100px;
    width: 100px;
    height: 20px;
}
